*{
    margin: 0;
    padding: 0;
}



nav{
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index:1;
    
    
}

    
    ul, li a{
        font-size: 20px;
        color:green;
        text-decoration: none;
        margin:15px ;
        display: flex;
        list-style-type: none;
    }
    .main{
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: cover;
        position: relative; 
        height: 50rem;
        justify-content: space-between;
        
    }

    .main-1{
    position: relative;
    top: 100px;
    left: 2rem;
    
}

.main{
    background: url(/images/Human-touch-01-full-1-1024x538.png);
    background-repeat: no-repeat;
        background-position: cover;
        background-size: cover;
        position: relative; 
        width: 100%;
        overflow: hidden;
        
}

/* img{
    position: absolute;
    width:90%;
    aspect-ratio:.97;
    border-radius:50%;
    left: 66.1rem;
    top: -2rem;
} */

.section-2{
    height: 50rem;
}

.clip{
      
    height:100px;
    width:100px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}


.container{
    position: relative;
    height: 20rem;
    overflow: hidden;
}


.ourServices{
    height: 15rem;
    width: 15rem;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    margin: 30px;
    cursor: pointer;
    animation: moveside 10s forwards;
    position: absolute; 
    left: -150rem;
    /* transition: left 5s ease-in */
}

@keyframes moveside {
    from {
        left:-150rem    }

    50%{
        left:59rem;
    }

    to{
        left: 40rem
    }

}

.ourServices:nth-child(1){
    animation-delay: 0.2s;
    left: calc(150rem * var(--index));
    /*  */
    /* --index:1; */
}
.ourServices:nth-child(2){
    animation-delay: 0.4s;
    left: calc(150rem * var(--index(2)));
    /* --index:2; */
}
.ourServices:nth-child(3){
    animation-delay: 0.6s;
    left: calc(150rem * var(--index));
    /* --index:3; */
}
.ourServices:nth-child(4){
    /* --index:4; */
    animation-delay: 0.8s;
}
.ourServices:nth-child(5){
    animation-delay: 1s;
}

.section-3{
        display:flex;
        justify-content: center;
}

.bankDetails{
    width: 15rem;
    height: 15rem;
    /* background-color: #0d871fbe; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    margin: 30px;
    margin-top: 100px;
    
}


.hightLight{
    font-size: 500px;
}

.phone{
    position: absolute;
    left: 23rem;
    top: 13rem;
    height: 490px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    transform: rotate(10deg);
    
}
.screen{
    position: absolute;
    top:20px;
    height: 27rem;  
    width: 15.2rem;
}
 .openAccount h1{
     box-shadow: 2px 1px 5px 2px green;
     transition: 2s transform ease-in;
    }
    .openAccount a{
        text-decoration: none;
}

.openAccount h1:hover{
    transform: rotate(360deg);
    cursor: pointer;
    
}

.advertbalance{
    height: 4rem;
    box-shadow: 2px 1px 5px 2px green;
    position: relative;
    right:8rem;
    top: 2rem;
}

.advertbalance-1{
    height: 4rem;
    box-shadow: 2px 1px 5px 2px green;
    position: relative;
    right:8rem;
    top: -22rem;
    left: 7rem;
}
.camera{
    position: absolute;
    top: -20px;
    right: 115px;
    height: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}

.bankSlogan{
    position: relative;
    left:10rem;
    color: white;
    font-size: 8rem;
    top:300px;
    /* transform: rotate(-10deg); */

}


.circle{
    height: 43rem;
    aspect-ratio: 1;
    border: 2px solid green;
    border-radius: 50%;
    margin-left: 100px;
    
}


.product-2{

    animation: rotate 5s infinite alternate;
    position: absolute;
    top:70px;
    left:4rem;
    height:35rem;
    
}


i{
    position: absolute;
    left:11rem; 
    top:.6rem; 
    filter:invert(100%);
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }to{ 
        transform: rotate(360deg);
        
    }
    
}






footer{
    height: 30rem;
    aspect-ratio: 3.74;
    background-color: rgba(21, 118, 20, 0.701);
}

/* LOGIN PAGE CSS */

.login{
    /* height: 50rem; */
    position: absolute;
    top: 150px;
    right: 3rem;
   
}

.myform{
    height:24.5rem;
}

.security{
    background: url(/images/3824032.jpg);
    background-position: center;
    background-size: cover;
    height: 50rem;
}


/* SIGN UP PAGE */

.signup{
    height: 50rem;

}
